.header {
  max-width: 1600px;
  margin: auto;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 128px;
}

.header  nav li a.active {
	text-decoration: underline;
}

.header nav li a {
  text-decoration: none;
  color: black;
}

.header nav li a:not(.logo):hover {
  text-decoration: underline;
}

.header li {
	color: black;
	font-family: Questrial;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal; 
	list-style-type: none;
  flex-basis: 100%;
  text-align: center;
}

@media screen and (max-width: 775px) {
  .header nav a:not(.logo, .icon) {
  	display: none;
	}
	.header nav a .logo {
    display: block;
  }
}

.header nav .icon {
  display: none;
}

@media screen and (max-width: 775px){
  .header nav .icon {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.header h1 {
	color: black;
	font-family: "Montserrat Subrayada";
	font-size: 52px;
	font-weight: 400;
  margin: 0;
}